---
export interface Props {
	message: string;
}

const { message } = Astro.props as Props;
---

{
	message?.length > 0 && (
		<div class="cs-banner">
			<span>{message}</span>
		</div>
	)
}

<style lang="less">
	.cs-banner {
		background-color: var(--primaryLight);
		color: var(--bodyTextColor);
		padding: 0.5rem;
		text-align: center;
	}
</style>
