/*-- -------------------------- -->
<---   Snipcart style overrides -->
<--- -------------------------- -*/

.snipcart-button-primary {
	font-family: inherit;
	line-height: (50/16em);
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	width: 100%;
	height: (50/16rem);
	padding: 0 (30/16rem);
	border: none;
	border-radius: 0;
	color: #000;
	background-color: var(--primary);

	.snipcart-base-button__label {
		font-size: (16/16rem);
		font-family: inherit;
		font-weight: bold;
	}
}
